.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 2em;
    font-family: 'Sansation', sans-serif;
    text-align: center;
  }

  .titulo {
    width: 1100px;
    height: 500px;
    text-align: left;
    transform: translateX(-100px);
    padding-top: 0;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;  
  }
  
  .titulo h1 {
    font-size: 5em;
    font-weight: 700;
    color: black;
    margin: 0.5em 0;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  .titulo p {
    max-width: 600px;
    font-size: 1.5em;
    font-weight: 300;
    color: #6b7280; /* cinza suave */
    margin-bottom: 2em;
  }
  
  .buttons {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .primary {
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.7em 1.2em;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .secondary {
    background-color: #1e3a8a;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.7em 1.2em;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  